AuthType Basic
AuthName "Administrationsinterface Testinstallation vmb"
AuthGroupFile /etc/apache2/htgroup
AuthUserFile /etc/apache2/htpasswd
Require valid-user

<Files ~ (insertmails.php|manageblacklist.php)>
	Require group insertmails
</Files>
<Files ~ (composemail.php|previewmail.php|sendmail.php)>
	Require group writemails
</Files>
<Files ~ (composesurvey.php|createsurvey.php)>
	Require group createsurvey
</Files>
<Files ~ (activatesurvey.php|closesurvey.php)>
	Require group activatesurvey
</Files>
<Files ~ (dropsurvey.php)>
	Require group dropsurvey
</Files>
<Files ~ .*\.inc\.php>
	Order Deny,Allow
	Deny from All
</Files>
